# Secrets and Local Configurations
secrets.h

# Build Artefacts and Compilation Output
.pio/
build/
*.bin
!dist/bin/*.bin
*.elf
*.hex
*.map

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*~
